sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - 14
before_script:
  - yarn install
script:
  - yarn build
  - yarn test
  - yarn add codecov -g
after_success:
  - codecov

